* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
::selection {
  color: #07521e;
  background: #e0f8e7 !important;
}
:root {
  --primaryColor: #c0f5d0;
  --primaryDark: #07521e;
}
/*Custom Scrollbar*/
::-webkit-scrollbar {
  width: 5px;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2) !important;
  /* border-radius: 10px; */
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.centered h4,
.enter-details h4 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
  font-family: "Playfair Display", serif;
}
.centered p {
  font-size: 1.2rem;
  text-align: center;
}
.centered label {
  margin-left: 10px !important;
}
.enter-details .input-field-details {
  margin: 10px 0;
  max-width: 80%;
  min-width: 280px;
}
.enter-details .submit-btn-container {
  margin: 20px 0;
}
.enter-details .submit-btn-container .submit-btn {
  background: var(--primaryDark) !important;
  color: white;
}
.next-btn-container {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.next-btn-container .next-btn {
  background: var(--primaryDark) !important;
  color: white !important;
}
.ant-tabs-nav .ant-tabs-tab-active {
  background: var(--primaryColor) !important;
}
.ant-tabs-nav .ant-tabs-tab-active div {
  color: var(--primaryDark) !important;
  font-weight: 600 !important;
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: var(--primaryDark) !important;
  color: var(--primaryDark) !important;
}
.Mui-focused {
  color: var(--primaryDark) !important;
}
